div#result {
    margin-bottom: 1em;
}

h1.cover-heading {
    margin-top: .5em;
}

li.list-group-item {
    background: rgba(255, 255, 255, 0);
}

p.hit-source-name {
    word-break: break-all;
}

input#search {
    border: 2px;
}

li.list-group-item.list-group-item-action.flex-column.align-items-start.hit-source {
    background: rgba(255, 255, 255, 0.8);
}

/* spinner start */
.spinner {
  margin: 100px auto;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #eceeef;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* spinner end */


p.mb-1.text-left.hit-source-name a {
    color: #2e9fff;
}

@media (max-width: 768px) {
  .col-md-4.sidebar {padding: 0 10px;}
  .container { max-width: 100vw; }
}

button.btn.btn-outline-primary.btn-block.btn-sm img {
    max-height: 1em;
    padding-left: 0.5em;
}

ul.result-list li .progress {
    height: 1px;
}
